version: "3.9"

services:
  app:
    build: ./docker/php
    container_name: laravel_app
    volumes:
      - ./src:/var/www
    working_dir: /var/www

  web:
    image: nginx:1.25
    container_name: laravel_nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_DATABASE: todo_app
      MYSQL_USER: laravel
      MYSQL_PASSWORD: pass
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "3306:3306"

volumes:
  db_data:

